

#begin {
  height: 527px;
  width: 1500px
}

#selfContainer{
 padding-right: 717px;
 padding-left: 17px;
}

.selfdivide{
  margin-bottom: 12px;
}

#selfRecomendation{
  padding: 11px 12px;
}

.headerDivider {
     border-left:2px groove #737b83;
     height:80px;
     margin: 0px 9px;
     top:10px;
}

#gridOne{
  width: 100%
}


/*#result {
  height: 100px;
  width: 800px;
}*/
